* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* JIKA ADA YANG MELEWATI SECARA VERTIKAL BUAT DIA FIX TIDAK BISA DIPINDAH */
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    display: flex;
    background-color: skyblue;
    justify-content: space-around;
    /* padding: 20px 0; */
    height: 50px;
    align-items: center;
    color: blue;
}

nav .logo a {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: darkblue;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: whitesmoke;
}

/* HAMBURGER MENU */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    /* KALO ADA ELEMEN YANG POSISINYA NON STATIK MAKA PEMBUNGKUSNYA JUGA HARUS NON-STATIK */
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

/* HAMBURGER MENU ANIMATION */
.menu-toggle span:nth-child(2) {
    /* MENGUBAH POROS YANG DITENGAH MENJADI KIRI ATAS */
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(3) {
    /* MENGUBAH POROS YANG DITENGAH MENJADI KIRI ATAS */
    transform-origin: 0 50%;
}

.menu-toggle span:last-child {
    /* MENGUBAH POROS YANG DITENGAH MENJADI KIRI ATAS */
    transform-origin: 0 100%;
}

/* CSS JIKA INPUT PADA MENU TOGGLE CHECKED CARI SIBLING(SAUDARA) YANG MERUPAKAN SPAN ANAK KE 2*/
.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(405deg) translate(2px, 2px);
}

.menu-toggle input:checked~span:last-child {
    transform: rotate(-405deg) translate(1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}





/* RESPONSIVE BREAKPOINT */

/* UKURAN TABLET */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        /* VH = VIEWPORT HIGH = TINGGI LAYAR SAAT INI */
        height: 100vh;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: skyblue;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
        z-index: -1;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}